/* You can add global styles to this file, and also import other style files */

/* Override bootstrap widths */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
) !default;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.card {
  .accordion {
    .hero {
      .card-header {
        background-color: rgb(204, 250, 204);
      }
    }

    .henchmen {
      .card-header {
        background-color: rgb(255, 254, 197);
      }
    }

    .mastermind {
      .card-header {
        background-color: rgb(255, 227, 227);
      }
    }

    .villainGroup {
      .card-header {
        background-color: rgb(255, 236, 199);
      }
    }
  }
}

#hero-team {
  height: 32px;
}

.card-header,
button.btn.btn-link {
  font-family: Bangers, sans-serif;
  font-size: 1.05rem;
}
