/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.mat-expansion-panel.group-hero .mat-expansion-panel-header {
  background-color: rgb(204, 250, 204);
}

.mat-expansion-panel.group-henchmen .mat-expansion-panel-header {
  background-color: rgb(255, 254, 197);
}

.mat-expansion-panel.group-mastermind .mat-expansion-panel-header {
  background-color: rgb(255, 227, 227);
}

.mat-expansion-panel.group-villainGroup .mat-expansion-panel-header {
  background-color: rgb(255, 236, 199);
}

.mat-expansion-panel-header {
  color: rgb(0, 123, 255);
}

#hero-team {
  height: 24px;
  width: 24px;
}

.accordion-header,
.accordion-button,
.card-header {
  font-family: Bangers, sans-serif;
  font-size: 1.05rem;
}

.lock-icon {
  z-index: 1000;
  position: absolute;
  right: 3.5rem;
}

.locked {
  color: black;
  padding-right: 4.2px;
}

.unlocked {
  color: lightslategray;
}

.lock-block {
  cursor: pointer;
  display: contents;
}
