/* You can add global styles to this file, and also import other style files */

/* Override bootstrap widths */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
) !default;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
