name: Docker build test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: "$CHECKOUT_REF"
          fetch-depth: 0
        env:
          CHECKOUT_REF: ${{ github.event.pull_request.head.ref }}
      - name: Substitute Secrets into Tokenised File
        uses: Lambdaspire/action-substitute-secrets-in-file@main
        with:
          file: apps/web-app/src/environments/environment.ts
          tokenPattern: ${TOKEN}
          secretsJson: ${{ toJSON(secrets) }}
      - name: Build the Docker image
        run: docker build .
