# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: "$CHECKOUT_REF"
          fetch-depth: 0
        env:
          CHECKOUT_REF: ${{ github.event.pull_request.head.ref }}
      - name: Substitute Secrets into Tokenised File
        uses: Lambdaspire/action-substitute-secrets-in-file@main
        with:
          file: apps/web-app/src/environments/environment.ts
          tokenPattern: ${TOKEN}
          secretsJson: ${{ toJSON(secrets) }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build-version
      - run: npx nx run-many --target=build --all --parallel
      - run: npm run test:ci
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          files: ./coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: web-app
