name: Release
on:
  push:
    branches: [main]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Substitute Secrets into Tokenised File
        uses: Lambdaspire/action-substitute-secrets-in-file@main
        with:
          file: apps/web-app/src/environments/environment.prod.ts
          tokenPattern: ${TOKEN}
          secretsJson: ${{ toJSON(secrets) }}
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Semantic Release
        # https://github.com/cycjimmy/semantic-release-action/releases/tag/v4.2.2
        uses: cycjimmy/semantic-release-action@16ca923e6ccbb50770c415a0ccd43709a8c5f7a4
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        if: steps.semantic.outputs.new_release_published == 'true'
        run: npm run build-prod
      - uses: FirebaseExtended/action-hosting-deploy@v0
        if: steps.semantic.outputs.new_release_published == 'true'
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SCHEMETWISTER }}'
          projectId: schemetwister
          channelId: live
          firebaseToolsVersion: v14.27.0
